<nav class="navbar navbar-expand-lg bg-body-tertiary border">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.cmcd1.com/logos/company_logo.png" width="50px" />
        </a>
        
        <div class="d-flex" >
            <h2><i class="fa fa-user-circle-o" aria-hidden="true"></i> {{name}}</h2>
        </div>
    </div>
    
</nav>


<div class="mt-5 container">
    <div class=" mt-5 row">
        <div class="col-md-3"></div>
        <div class="mt-5  col">
            <div class="card">
                <div class="card-body">
                    <div class="row text-center">
                        <div class="col">
                            <img width="50px" src="https://cdn.cmcd1.com/logos/company_logo.png" />
                            <p>Welcome to the dashboard.</p>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>